:root {
    --one-color: #d5e1df;
    --two-color: #e5ebb5;
    --three-color: #b5e7a0;
    --four-color: #96b36b;
    --black-color: rgb(15, 53, 3);
}

body {
    background-color: var(--four-color);
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#game-window {
    width: 700px;
    height: 100%;
    background-color: var(--two-color);
}

#header,
#players,
#menu,
#footer {
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
}

#header {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    margin-bottom: 0;
    color: var(--black-color);
}

#board {
    display: grid;
    justify-content: center;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    margin-bottom: 8%;
}

#board div {
    font-family: 'Permanent Marker', cursive;
    font-size: 8rem;
    color: var(--four-color);
    border: 1px solid var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--two-color);
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10; 
    background-color: var(--two-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    gap: 40px;
    border-radius: 5px;
}

#modal__window {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

#modal__button {
    width: 100px;

}

#modal.active {
    transform: translate(-50%, -50%) scale(1);
}
  
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;  
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Credits */
.git {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    gap: 10px;
    font-weight:500;
    color: var(--black-color);
    margin-bottom: 16px;
}